html,
body {
  height: 100%;
  overflow: hidden;
}

.top-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-container {
  display: flex;
  padding: 0 10px 0 10px;

  .main-content {
    flex: 4;
    padding: 10px;
    background-color: #f5f7ff;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
}
